/*universal styling*/
body {
  font-family: 'Fauna One', Serif;
  font-size: 1rem;
  background-color: white;
  box-sizing: border-box;
  position: relative;
}
h1 {
  font-family: 'Cinzel', Cursive;
  font-size: 2.5rem;
  padding: 1.75rem 0;
}
/*fixed header*/
/*added position: fixed, width: 100%, top: 0 and z-index: 99 plus set margins (70px 0 0) on learning-box to push header up above other content*/
.page-header {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  height: 4rem;
  padding: 4px 0;
  /*added background-color to fix the entire header rather than just the icons*/
  background-color: white;
}
.page-header ul {
  display: flex;
  justify-content: space-between;
  padding-top: 0.75rem;
}
.logo-title {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}
.logo-title img {
  height: 3.5rem;
}
.logo-title span {
  text-transform: uppercase;
  font-family: 'Cinzel', cursive;
  font-size: 2rem;
}
.desktop ul {
  padding-right: 2rem;
}
.desktop ul:first-child {
  margin: 0 auto;
}
.header-content {
  display: flex;
  align-items: center;
}
.header-content li {
  margin-right: 2rem;
}
.header-content li:last-child {
  margin-right: 1.5rem;

}
.header-content a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  border-radius: 4px;
}
.header-content .oc {
  background-color: #F16A49;
}
.header-content .on {
  background-color: #97CCC7;
}
.header-content .fc {
  background-color: #22363E;

}
.header-content .si {
  background-color: #DB5749;
}

.header-content > li:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
ul.mobile {
  display: none;
}
/*main-content: prevents content from scrolling up behind the fixed header*/
.main-content {
  position: relative;
  margin-top: 5.3125rem;
}
/*learning box*/
.learning-box {
  display: flex;
  align-items: center;
  top: 6rem;
  width: 100%;
  background-color: #F5F5F5;
}
.column-1 {
  padding: 0 0.75rem;
  width: 60%;
}
.column-1 img {
  width: 100%;
  height: auto;
}

.column-2 {
  padding: 2rem 0.75rem;
  width: 40%;
}
.lg-image {
  padding: 2rem 0;
  bottom: 0;
}
.lg-image img {
  width: 100%;
  height: auto;
}
.lg-content h1 {
  padding-bottom: 2rem;
}
.lg-content h1:first-letter {
  font-family:'Great Vibes', cursive;
  color: #507F75;
  font-size: 3.125rem;
  font-weight: bold;
  letter-spacing: 5px;
}
.lg-content h2 {
  padding-bottom: 1.5rem;
}
.lg-content p {
  padding-bottom: 2rem;
}
.lg-content p:last-child {
  font-size: 0.85rem;
  font-style: italic;
}
.small-image {
  width: 12rem;
  height: 12rem ;
  background-size: cover;
  background-position: center;
}
.small-image-1 {
  content: url('../images/information-orientation.jpg');
}
.small-image-2 {
  content: url('../images/information-campus.jpg');
}
.small-image-3 {
  content: url('../images/information-guest-lecture.jpg');
}
.small-content {
  margin-left: 1.5rem;
  width: 65%;
  align-self: center;
}
.small-content h2 {
  line-height: 1.3;
  padding-bottom: 4px;
  font-size: 1.5rem;
}
.small-content p {
  padding: 4px 0;
}
.button {
  padding: .5rem 0;
  background-color: #DB5749;
  border: 4px solid #122029;
  text-align: center;
  width: 80%;
  margin: 0;
}
.button:hover {
  color: #DB5749;
  box-shadow: inset 0 0 0 25px #122029;
  transition: box-shadow 750ms ease-in-out 0;
}
.events-box {
 display: flex;
}
.events-box lg-content h1 {
  padding-bottom: 1.5rem;
}
.event {
  display: flex;
  width: 100%;
  padding: 1rem 1rem 1rem 0;
}
.event:first-child {
  padding-top: 0;
}
.event:last-child {
  background-color: #F5F5F5;
}
.events-box .small-image-3 {
  padding-top: 1.5rem;
}
.events-box h2 {
  color: #22363E;
}
.events-box .small-content p {
  padding-bottom: 1rem;
}
.events-box a {
  color: #DB5749;
}
.events-box a:hover {
  padding: 0.5rem;
  background-color: #DB5749;
  border: 1px solid #122029;
  border-radius: 4px;
  color: #122029;
  text-decoration: none;
  box-shadow: inset 0 0 0 3px #DB5749;
  border-radius: 4px;
  transition: box-shadow 750ms ease-in-out 0;
}
/*coursework section*/
.coursework .mobile {
  display: none;
}

.coursework .desktop {
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 2rem 4.5rem;
  background-color: #F5F5F5;
}
.coursework .lg-content h1 {
  text-align: center;
  padding-bottom: 1rem;
}
.course-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: visible;
}
.course {
  margin: 1rem;
  width: 30%;
}
.course img {
  width: 100%;
  height: auto;
}
.course-content {
  padding: 1rem 0 0 1rem;
  line-height: 1.5;
}
.course-content h2 {
  font-family: 'Cinzel', cursive;
  font-size: 1.5rem;
  white-space: nowrap;
}
.course-content p {
  font-family: 'Fauna One', serif;
  padding: 0.25rem 0;
}
.course-content p:first-of-type {
  text-transform: uppercase;
}
/*thesis section*/
.thesis .mobile {
  display: none;
}
.thesis {
  padding: 2rem 1.5rem 0;
}
.thesis .desktop {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.thesis-box {
  display: flex;
  flex-direction: row;
}
.thesis .lg-content {
  padding-bottom: 1.5rem;
}
.thesis .lg-content h1 {
  text-align: center;
  padding-bottom: 0;
}
.thesis-box  .lg-content h1 {
  font-size: 1.875rem;
  text-align: left;
  padding-bottom: 0.5rem;
}
.thesis-box .lg-content h1:first-letter {
  font-family: 'Cinzel', cursive;
  font-size: 1.7rem;
  letter-spacing: 0;
  color: #22363E;
  font-weight: normal;
}
.thesis .lg-image {
  padding-top: 1rem;
}
.thesis iframe {
	width: 100%;
}
.thesis-box .column-2{
  padding-top: 0.85rem;
}
.thesis .event:first-child {
  background-color: #F5F5F5;
}
.thesis .event:last-child {
  background-color: white;
}
/*footer*/
.footer {
  padding: 0 0 1.5rem 0;
  background-color: #97CCC7;
  height: 5.5rem;
}
.footer ul {
  font-size: 1.125rem;
  font-weight: bold;
  padding: 0.75rem 0 1rem 1.5rem;
  display: flex;
}
.footer .copyright {
  flex-grow: 1;
}
.footer-content {
  padding-right: 1.25rem;
}
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .page-header ul {
      display: flex;
      justify-content: space-around;
      padding-top: 0.75rem;
    }
    ul.desktop {
      display: none;
    }
    ul.mobile {
      display: flex;
    }
    .mobile img {
      height: 3.5rem;
    }
    .mobile > li > a > img:hover {
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3);
    }
    .button {
      margin: 0 auto;
    }
    .learning-box {
      display: block;
      padding: 0;
    }
    .column-1, .column-2{
      padding: 0;
      width: 100%;
    }
    .learning-box .lg-image {
      padding: 0;
      width: 100%;
    }

    /*used negative margin to get rid of white space between divs*/
    .learning-box .lg-content {
      margin: -4px 0 0;
      background-color: #97CCC7;
      padding: 2rem 0;
    }
    .learning-box .lg-content h1 {
      padding-bottom: 2rem;
      padding-left: 1rem;
    }
    .learning-box .lg-content h1:first-letter {
      font-family: 'Cinzel', cursive;
      font-size: 2.2rem;
      letter-spacing: 0;
      color: #22363E;
      font-weight: normal;
    }
    .learning-box .lg-content h2 {
      padding-left: 1rem;
    }
    .events-box {
      display: block;
    }
    .events-box .column-1 {
      display: none;
    }
    .events-box .small-content {
      padding: 0 0 4rem 1rem;
      margin: 0 1rem;
    }
    .events-box .small-content:last-child {
      padding-bottom: 2rem;
    }
    .events-box .small-content:last-child h2 {
      white-space: nowrap;
    }
    .events-box h2 {
      font-size: 1.75rem;
      padding: 2rem 0 0.75rem;
    }
    .events-box p {
      padding: 0.75rem 0;
    }
    .event {
      display: block;
      padding: 0;
      margin: 0 auto;
    }
    .event:first-child {
      padding-top: 1.5rem;
    }
    .small-image {
      width: 92%;
      height: 12rem;
      margin: 0 auto;
      background-size: cover;
    }
    .small-image-1 {
      content: url('../images/information-orientation-mobile.jpg');
    }
    .small-image-2 {
      content: url('../images/information-campus-mobile.jpg');
    }
    .small-image-3 {
      content: url('../images/information-guest-lecture-mobile.jpg');
    }
    /*coursework section*/
    .coursework .mobile {
      display: block;
    }
    .coursework .desktop {
      display: none;
    }
    .small-content {
      width: 92%;
      padding: 0;
      margin: 0 auto;
    }
    .coursework .mobile h1 {
      padding: 2rem 0;
      text-align: center;
    }
    .coursework .mobile h2 {
      font-size: 1.75rem;
      padding: 1rem 0 1.5rem 1rem;
      background-color: #F16A49;
      opacity: .75;
      margin-bottom: 0.5rem;
    }
    .thesis .desktop {
      display: none;
    }
    .thesis .mobile {
      display: block;
    }
    .thesis h1 {
      text-align: center;
    }
    .thesis .lg-image {
      width: 100%;
    }
    .thesis video {
      width: 100%;
    }
    .footer {
    }
    .footer ul {
      padding: 1.75rem 1rem;
      text-align: center;
    }
    .footer-content {
      display: none;
    }
  }
