/*universal styling*/
body {
  font-family: 'Fauna One', Serif;
  font-size: 1rem;
  background-color: white;
  box-sizing: border-box;
  position: relative;
}
h1 {
  font-family: 'Cinzel', Cursive;
  font-size: 2.25rem;
}
/*fixed header*/
.page-header {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  height: 4rem;
  padding: 20px 0;
  /*added background-color to fix the entire header rather than just the icons*/
  background-color: white;

}
.page-header ul {
  display: flex;
  justify-content: space-around;
}
.mobile img {
  height: 3.5rem;
}
.iccon {
  fill: blue;
}
.mobile > li > a > img:hover {
  background-color: blue;
}
/*main-content: prevents content from scrolling up behind the fixed header*/
.main-content {
  position: relative;
  margin-top: 5.3125rem;
}
/*learning box*/
.learning-box {
  display: flex;
  padding: 2rem 1.5rem;
  top: 6rem;
}
.column-1 {
  padding-left: 1.5rem;
}
.column-2 {
  padding-right: 1.5rem;
}
.lg-image img {
  width: 60%;
  height: auto;
}
.learning-box .lg-content {
  background-color: #97CCC7;
  padding-bottom: 2rem;
}
.learning-box .lg-content h2 {
  line-height: 1.3;
}
.button {
  padding: .5rem 0;
  background-color: #DB5749;
  border: 4px solid #122029;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.button:hover {
  background-color: #122029;
  color: #DB5749;
}
.events-box {
  padding: 1rem 0;
}
.events-box img {
  width: 35%;
  height: auto;
}
.event-box h2 {
  font-family: 'Cinzel', cursive;
  color: #22363E;
}
.events-box a {
  color: #DB5749;
}
.events-box a:hover {
  padding: .5rem 0;
  background-color: #DB5749;
  border: 1px solid #122029;
  border-radius: 4px;
  color: #122029;
  text-decoration: none;
  padding: 0.5rem;
}
/*thesis section*/
.thesis video {
  width: 60%;
}
/*footer*/
footer ul {
  font-size: 1.125rem;
}
  @media only screen and (min-width: 320px) and (max-width: 480px) {

    .learning-box {
      display: block;
      padding: 0;
    }
    .column-1, .column-2{
      padding: 0;
    }
    .learning-box img {
      width: 100%;
    }
    .lg-content {
      padding: 2rem 1rem 4rem;
      top: 0;
    }
    .lg-content h1 {
      padding-bottom: 1.5rem;
    }
    .lg-content h2 {
      padding-bottom: 1.5rem;
      font-size: 1.25rem;
    }
    .events-box img {
      width: 100%;
      padding-top: 1rem;
    }
    .events-box h2 {
      font-size: 1.75rem;
      padding-bottom: 1rem;
    }
    .events-box p {
      padding: .75rem 0;
    }
    .events-box .event:nth-child(2) a {
      color: #122029;
    }
    /*coursework section*/
    .coursework {

    }
    .mobile h1 {
      text-align: center;
      padding: 0 0 2rem 1rem;
    }
    .mobile h2 {
      font-size: 1.75rem;
      padding: 1rem 0 1.5rem 1rem;
      background-color: #F16A49;
      opacity: .75;
      margin-bottom: 0.5rem;
    }
    .thesis h1 {
      text-align: center;
      padding-bottom: 1rem;
    }
    .thesis video {
      width: 100%;
    }
    footer ul {
      padding: 2.5rem 0 1rem;
      text-align: center;
    }
    .footer-content {
      display: none;
    }
  }
